.single-product .product-gallery {
  width: 50%;
  padding-right: 15px;
}

.single-product .single-image-wrapper {
  overflow: hidden;
}

.single-product .single-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: center;
}

.single-product .single-image-wrapper img:hover {
  cursor: zoom-in;
}

.single-product .gallery-thumbs {
  display: flex;
}

.single-product .gallery-thumbs li {
  cursor: pointer;
  display: flex;
}
.single-product .gallery-thumbs li img {
  border: 1px solid transparent;
}
.single-product .gallery-thumbs li img:hover {
  border: 1px solid #000;
}

.single-product .product-thumb {
  position: relative;
}
.single-product .glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: transparent;
}

.single-product .glide__arrow--left {
  left: 0;
}

.single-product .glide__arrow--right {
  right: 0;
}
