.single-blog {
  margin-top: 40px;
  font-size: 14px;
}

.single-blog figure img {
  width: 100%;
}

.single-blog .blog-wrapper .blog-meta {
  display: flex;
  font-size: 12px;
  column-gap: 10px;
}

.single-blog .blog-wrapper .blog-title {
  margin: 10px 0 15px 0;
  font-weight: 500;
}
